<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Sign in &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/admin.css">
  <link rel="stylesheet" href="../assets/css/commom.css">
</head>
<script src="/assets/vendors/jquery/jquery-1.12.4.js"></script>
<script>
// $(function(){
  
// })
</script>
<body>
  <div class="login">
    <form class="login-wrap">
      <img class="avatar" src="../assets/img/default.png">
      <!-- 有错误信息时展示 -->
       <div class="alert alert-danger" style="display:none">
        <strong>错误！</strong> <span>用户名或密码错误！</span>
      </div> 
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" class="form-control" placeholder="邮箱" name="email" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" class="form-control" placeholder="密码" name="password">
      </div>
      <input type="submit" id="btn" class="btn btn-primary btn-block" value="登录"></input>
      <div id="failLogin1" style="height: 30px;line-height:30px;position:absolute;left:72px;bottom:0px;background-color: crimson;color: white;border-radius:5px;padding: 0 10px;display:none;">
        邮箱不存在，请重新输入
      </div>
      <!-- <div id="failLogin2" style="height: 30px;line-height:30px;position:absolute;left:72px;bottom:0px;background-color: crimson;color: white;border-radius:5px;padding: 0 10px;display:none;">
        密码错误，请重新输入
      </div> -->
    </form>
  </div>
  <div id="loginErr">
 
  </div>
</body>

<script src="/assets/js/login.js"></script>
</html>
